*{
    margin : 0px;
    font-family : Arial;
    box-sizing : border-box;
}

/* Header */
.navbar_belt{
    background-color : #131921;
    height : 60px;
    display: flex;
    width : 100%;
    align-items : center;
    justify-content : space-evenly;
    color : white;
}

.navbar_logo{
    margin-left: 5px;
    padding-top : 5px;
}

.navbar_logo img{
    height : 32px;
    margin : 5px;
}

.border{
    border : 1px solid transparent;
    border-radius : 2px;
}

.border:hover{
    border : 1px solid white;
}

.location{
    align-items : center;
    justify-content : center;
    border : border-box;
    padding : 10px;
    margin-left : 10px;
}

.location1{
    font-size : 0.75rem;
    color : #cccccc;
    margin-left : 20px;
}

.location2{
    font-size : 0.95rem;
    font-weight : bold;
}

.location_icon{
    display : flex;
    align-items : center;
}

.nav_search{
    display : flex;
    align-items : center;
    height : 40px;
    flex : 1;
    margin-left : 10px;
}

.nav_search:has(.search_input:focus){
    border : 1px solid #eea13b;
    border-radius : 2px;
}

.search_category_select{
    width : 50px;
    height : 40px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border : none;
    justify-content : center;
    text-align : center;
    background-color : #f3efef;
    color : #44464b;
    padding : 5px;
    font-size : 0.75rem;
}

.search_category_select:focus{
    border : 3px solid #eea13b;
}

.search_icon i{
    align-items : center;
    color : #131921;
    font-size: 1.2rem;
    justify-content : center;
}

.search_icon:focus{
    border : 3px solid #eea13b;
}

.search_button{
    background-color : #febd69;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    height : 40px;
    width : 45px;
    border : none;
}

.search_input{
    height : 40px;
    border : none;
    padding : 0px;
    flex : 1;
    font-size : 0.95rem;
    text-indent: 15px;
}

.search_input:focus{
    outline : none;
}

.search_button:hover {
    background-color : #eea13b;
}

.language_select{
    width : 70px;
    height : 50px;
    display : flex;
    align-items : center;
    margin-left : 30px;
}

.language_icon{
    height : 15px;
    width : 20px;
}

.language_dropdown{
    width : 50px;
    height : 30px;
    border : none;
    background-color : #131921;
    color : white;
    font-size : 0.85rem;
    font-weight : bold;
    text-align : center;
}

.signin{
    height : 52px;
    align-items: center;
    margin-left : 10px;
    padding-top : 8px;
}

.signin_text{
    font-size : 0.75rem;
    margin-left: 5px;
}

.signin_list{
    font-size : 0.95rem;
    font-weight : bold;
    background-color: #131921;
    color : white;
    border : none;
}

.returns{
    align-items : center;
    justify-content : center;
    border : border-box;
    padding : 10px;
    margin-left : 10px;
}

.return1{
    font-size : 0.75rem;
}

.return2{
    font-size: 0.95rem;
    font-weight: bold;
}

.cart{
    height : 50px;
    align-items : center;
    justify-content : center;
    display : flex;
    margin-left : 10px;
    margin-right : 10px;
}

.cart_text{
    font-size : 0.95rem;
    font-weight : bold;
    padding-top : 15px;
}

.cart_icon{
    font-size : 1.5rem;
}

.navbar2{
    background-color : #232f3e;
    height : 40px;
    display: flex;
    color : white;
    align-items : center;
}

.category{
    margin-left: 15px;
    font-size: 0.9rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    height : 30px;
    padding-right : 5px;
}

.menu_icon{
    font-size: 1.2rem;
    margin-right: 5px;
}

.navbar2_links a{
    text-decoration : none;
    color : white;
    margin-left : 10px;
    font-size: 0.9rem;
    padding : 5px;
    align-items : center;
}

/* Hero Section */
.hero{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 20%, rgb(211, 216, 222, 1) 80%), url('hero_section.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 250px;
    padding-bottom: 30px;
}

.hero_text{
    color: #131921;
    width: 97%;
    font-size: 0.9rem;
    text-align: center;
    background-color: #f3f3f3;
    padding : 10px;
}

.hero_text a{
    color: #007185;
    text-decoration: none;
}

.box_row1{
    width: 97%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.box{
    min-height: 420px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap : 12px;
}

.box_heading{
    font-size: 1.3rem;
    font-weight: bold;
    color : black;
}

.single_box_img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.box_bottom_link{
    color : #007185;
    text-decoration: none;
    font-size: 0.85rem;
    margin-top: auto;
}

.grid_box_images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    flex-grow: 1;
}

.grid_img{
    font-size: 0.75rem;
    color : #131921;
}

.grid_img img{
    width: 100%;
    height: 110px;
    object-fit: cover;
    display: block;
    margin-bottom: 6px;
}